.heading {
  text-align: center;
  color: 	#eb882c;
}

.home{
    text-align: center;
}
.product{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    justify-content:space-around;
    margin-bottom: 40px;
    padding: 20px 20px;
    background-color: rgb(238, 171, 71);
    height: 10rem
}
.image{
  width:5rem;
  height: 6rem;
}

